/******* временные для тестирования *******/

.bg-test{
  &-1{
    background-color:$bg-test-1;
  }
  &-2{
    background-color:$bg-test-2;
  }
  &-3{
    background-color:$bg-test-3;
  }
  &-4{
    background-color:$bg-test-4;
  }
  &-5{
    background-color:$bg-test-5;
  }
}

/******* end_временные для тестирования *******/

/******* фон *******/

.bg-1{
  background-color:$bg-1;
}
.bg-2{
  background-color:$bg-2;
}

/******* end_фон *******/



