/******* временные для тестирования *******/

.bg-test{
  &-1{
    background-color:$bg-test-1;
  }
  &-2{
    background-color:$bg-test-2;
  }
  &-3{
    background-color:$bg-test-3;
  }
  &-4{
    background-color:$bg-test-4;
  }
  &-5{
    background-color:$bg-test-5;
  }
}
/******* end_временные для тестирования *******/

/******* фон *******/

.bg-1{
  background-color:$bg-1;
}
.bg-1-opac{
  background-color:$bg-1-opac;
}
.bg-2{
  background-color:$bg-2;
}
.bg-page{
  background:#000 url("../img/bg-page.png") no-repeat fixed top right;
}
.bg-grad{
  background:linear-gradient(to right, #222 0%, #111 50%, #222 100%);
}
.bg-grad-vertical{
  background:linear-gradient(to bottom, #222 0%, #111 50%, #222 100%);
}
/******* end_фон *******/

._relative{
  position:relative;
}
._w-100{
  width:100%;
}
._w-60{
  width:60%;
}
._w-40{
  width:35%;
}

