@media screen and (min-width:992px) {
  .header{
    padding-left:3rem;
    padding-right:1rem;
  }
}
@media screen and (max-width:1200px) {
  .App{
    padding-top:5rem;
  }
}
@media screen and (max-width:992px) {
  .App{
    padding-top:2rem;
  }
  .hidden{
    .sidebar__b_links{
      display:none;
    }
  }
  .sidebar{
    background:transparent;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    right:0;
    width:100%;
    &__burger{
      display:block;
    }
    &__link{
      display:none;
      margin-bottom:2rem;
    }
    &__title{
      display:none;
    }
  }
}
@media screen and (max-width:768px) {
  .sidebar{
    padding:.3rem;
  }
}