@media screen and (min-width:992px) {
  .header{
    padding-left:3rem;
    padding-right:1rem;
  }
}
@media screen and (max-width:1200px) {
  .App{
    padding-top:5rem;
  }
  ._long{
    &-fantasy{
      width:40%;
    }
    &-sci-fi, &-biography, &-documentary{
      width:33%;
    }
  }
}
@media screen and (max-width:992px) {
  .App{
    padding-top:5rem;
  }
  .b_links__item{
    line-height:2rem;
    margin-bottom:2rem;
    font-size:1.5rem;
  }
  .header{
    margin-bottom:1rem;
  }
  .header, .nn-b_cards{
    position:relative;
  }
  .hidden{
    &.sidebar{
      height:0;
      &__b_links{
        display:none;
      }
    }
  }

  ._long{
    &-fantasy, &-sci-fi, &-biography, &-documentary{
      width:50%;
    }
    &-sci-fi, &-biography, &-documentary{
      width:33%;
    }
  }
  .shown .sidebar{
    &__burger{
      background:transparent;
    }
    &__b_links{
      height:auto;
    }
  }

  .sidebar{
    background:transparent;
    height:100%;
    margin-top:0;
    padding:0;
    position:fixed;
    text-align:center;
    top:0;
    right:0;
    width:100%;
    &__b_links{
      height:0;
      overflow:hidden;
    }
    &__burger{
      display:flex;
      align-items:center;
      justify-content:flex-end;
      padding:.5rem;
    }
    &__link{
      display:none;
      margin-bottom:2rem;
    }
    &__title{
      display:none;
    }
  }
}
@media (min-width:768px) and (max-width:992px) {
  .home{
    padding-right:0;
  }
  .sidebar.hidden{
    z-index:3;
  }
}
@media screen and (max-width:768px) {
  ._long{
    &-fantasy, &-sci-fi, &-biography, &-documentary{
      width:50%;
    }
  }
  .sidebar{
    padding:0;
  }
  .sidebar__b_links{
    padding-left:1rem;
    padding-right:1rem;
  }
}
@media screen and (max-width:540px) {
  ._long{
    &-fantasy, &-sci-fi, &-biography, &-documentary{
      width:100%;
    }
  }
}