@media screen and (min-width:1200px){
    .nn-card__img-block{
      height:420px;
    }
}
@media screen and (min-width:1310px){
    .nn-card__img-block{
      height:400px;
    }
}
@media screen and (max-width:1260px) {
  .slogan{
    &__title{
      font-size:1.1rem;
    }
  }
}
@media screen and (max-width:1200px) {
  .nn-container{
    padding:0 50px;
  }
}
@media screen and (max-width:992px) {
  .header{
    margin-bottom:1rem;
  }
  .nn-col_4__item{
    width:33%;
  }
  .nn-logo-slogan{
    justify-content:center;
    &__item{
      text-align:center;
      width:100%;
      &_left{
        padding:1rem;
        width:300px;
      }
    }
  }
  .slogan__title{
    font-size:1.5rem;
  }
}
@media screen and (max-width:768px) {
  .nn-col_4__item{
    width:50%;
  }
  .nn-logo-slogan{
    &__item{
      &_left{
        padding:.5rem .5rem 1rem;
        width:70%;
      }
    }
  }
  .slogan__title{
    font-size:1.1rem;
  }
}
@media screen and (max-width:550px) {
  .nn-col_4__item{
    width:100%;
  }
  .nn-logo-slogan{
    &__item{
      &_left{
        padding:.5rem .5rem 1rem;
        width:100%;
      }
    }
  }
}
