.nn{
  &_container{
    min-width:320px;
    margin:0 auto;
    max-width:1200px;
    transition:all .25s ease-in-out;
  }
  &_col{
    display:flex;
    &_1{
      flex-flow:column;
      align-items:center;
    }
    &_2{
      justify-content:center;
      &__item{
        width:50%;
        flex:auto;
      }
    }
    &_3{
      flex-flow:row wrap;
      justify-content:space-between;
      &__item{
        width:25%;
        flex:auto;
      }
    }
    &_6{
      display:flex;
      flex-flow:row wrap;
      justify-content:space-between;
      &__item{
        width:15%;
        flex:auto;
      }
    }
  }
}
.nn_card{
  display:flex;
  flex-direction:column;
  &__img-block{
    max-height:300px;
    /*background:url(https://m.media-amazon.com/images/M/MV5BMjMzMzQ0NzI5Nl5BMl5BanBnXkFtZTgwNjc2NTY0NjM@._V1_QL50.jpg) no-repeat center center;*/
    background-size:cover;
    overflow:hidden;
    img{
      width:100%;
    }
  }
}