.nn-container{
  min-width:320px;
  margin:0 auto;
  max-width:1200px;
  padding:0 60px;
  transition:all .25s ease-in-out;
}
.nn-col{
  display:flex;
  &_1{
    flex-flow:column;
    align-items:center;
  }
  &_3{
    flex-flow:row wrap;
    justify-content:space-between;
    &__item{
      width:25%;
      flex:auto;
    }
  }
  &_4{
    align-items:center;
    flex-flow:row wrap;
    padding:.3rem;
    &__item{
      width:25%;
    }
  }
}
.nn-logo-slogan{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  &__item{
    align-self:center;
    width:60%;
    &_left{
      width:35%;
    }
  }
}
.nn-card{
  display:flex;
  flex-direction:column;
  height:100%;
  &_dark{
    color:white;
  }
  &:hover{
    background-color:#353535;
    cursor:pointer;
  }
  &__img-block{
    height:350px;
    background-size:cover;
    background-position:center center;
    margin:.4rem;
    overflow:hidden;
    img{
      width:100%;
      height:100px;
    }
  }
  &__title{
    align-items:center;
    /*background:linear-gradient(to bottom, rgba(17, 17, 17, 1) 0%, rgba(46, 46, 46, 1) 47%, rgba(34, 34, 34, 1) 100%);*/
    display:flex;
    font-size:16px;
    justify-content:center;
    padding:.3rem 0;
    text-align:center;
  }
  &__rating{
    text-align:center;
  }
}
/******* tests *******/

.test-height{
  height:100px;
}
/******* end_tests *******/


