@media screen and (min-width:1200px) {
  .nn-card__img-block{
    height:270px;
  }
}
@media screen and (min-width:1310px) {
  .nn-card__img-block{
    height:295px;
  }
}
@media screen and (max-width:1260px) {
  .slogan{
    &__title{
      font-size:1.1rem;
    }
  }
}
@media screen and (max-width:1200px) {
  .nn-container{
    padding:0 50px;
  }
  .nn-b_cards__item{
    width:33%;
  }
  .nn-card__img-block{
    height:300px;
  }
}
@media screen and (max-width:992px) {
  .nn-b_cards{
    padding-right:0;
  }
  .nn-logo-slogan{
    justify-content:center;
    &__item{
      text-align:center;
      width:100%;
      &_left{
        padding:1rem;
        width:300px;
      }
    }
  }
  .slogan__title{
    font-size:1.5rem;
  }
}
@media screen and (max-width:768px) {
  .nn-b_cards__item{
    width:50%;
  }
  .nn-card{
    &__title{
      align-items:center;
      display:flex;
      font-size:1.2rem;
      justify-content:center;
      padding:.3rem .3rem .7rem .3rem;
      text-align:center;
    }
    &__img-block{
      height:390px;
    }
  }
  .nn-logo-slogan{
    &__item{
      &_left{
        padding:.5rem .5rem 1rem;
        width:70%;
      }
    }
  }
  .slogan__title{
    font-size:1.1rem;
  }
}
@media screen and (max-width:550px) {
  .nn-b_cards__item{
    width:100%;
  }
  .nn-card__img-block{
    height:460px;
  }
  .nn-logo-slogan{
    &__item{
      &_left{
        padding:.5rem .5rem 1rem;
        width:100%;
      }
    }
  }
}
