.header{
  z-index:2;
}
.home{
  display:flex;
  padding-bottom:.5rem;
  padding-right:.5rem;
}
.b_links__item{
  display:block;
  line-height:1rem;
  margin-bottom:1rem;
}
.sidebar{
  background:linear-gradient(to right, #222 0%, #111 50%, #222 100%);
  margin-top:.5rem;
  padding:1rem 1rem 0 2rem;
  text-align:left;
  transition:all ease 1s;
  width:30%;
  z-index:1;
  &__burger{
    background-color: rgb(11, 11, 39);
    display:none;
    text-align:right;
    padding-right:7px;
    img{
      transform:rotate(0deg);
      transition:all ease .7s;
    }
  }
}
.shown{
  &.sidebar{
    background:linear-gradient(to right, #222 0%, #111 50%, #222 100%);
    transition:all ease 1s;
    z-index:10;
    .sidebar__b_links{
      display:block;
    }
    .sidebar__burger img{
      transform:rotate(90deg);
      transition:all ease .7s;
    }
  }
}
